$color-0: #fafaff;
$color-1: #e6e7f8;
$color-2: #b2b6ea;
$color-3: #696cd0;
$color-4: #2d2ba9;
$color-5: #150c72;
$color-6: #0a0333;

$page-background-light: $color-0;
$border-color-light: $color-3;
$body-color-light: $color-6;