@use '_color-variables'as *;
@use '_cust-prop-helpers'as *;

@font-face {
	font-family: 'Dosis';
	src: url('../assets/fonts/Dosis-VariableFont_wght.ttf');
	font-weight: 200 800;
	font-stretch: 75% 125%;
	font-style: oblique 0deg 20deg;
}

:root {
	@include cust-prop(--color-0, $color-0);
	@include cust-prop(--color-1, $color-1);
	@include cust-prop(--color-2, $color-2);
	@include cust-prop(--color-3, $color-3);
	@include cust-prop(--color-4, $color-4);
	@include cust-prop(--color-5, $color-5);
	@include cust-prop(--color-6, $color-6);

	@include cust-prop(--page-background-light, --color-0);
	@include cust-prop(--border-color-light, --color-3);
	@include cust-prop(--body-color-light, --color-6);

	@include cust-prop(--base-font-size, 1em);
	@include cust-prop(--base-font-family, "'Dosis', sans-serif", true);
	@include cust-prop(--base-font-weight, 500);

	@include cust-prop(--standard-border-width, 0.125em);
	@include cust-prop(--standard-border, #{prop(--border-color-light)} solid #{prop(--standard-border-width)});

}

body {
	font-family: prop(--base-font-family);
	font-size: prop(--base-font-size);
	font-weight: prop(--base-font-weight);

	color: prop(--body-color-light);
	background-color: prop(--page-background-light);
}